body {
  background-color: #21222c;
}

/* 👇👇👇 Paste the styles of your Fancy Robot from the "Position it right" assignment here 👇👇👇 */

.robot-container, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: -2;
}

.robot-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #300000;
  border: 5px solid #af0000;
}

.robot-face-shape {
  position: absolute;
  border: 15px 0 solid #af0000;
  border-radius: 50px;
  width: 500px;
  height: 600px;
  top: 42.5%;
  left: 50%;
  margin: -200px -200px auto;
  background-color: #af0000;
  /*linear-gradient here*/
  background: linear-gradient(to right, #af0000, #710000, #4f0000, #300000);
}

.robot-eye-left {
}

.robot-eye-right {
}

.robot-ear-left {
}

.robot-ear-right {
}

.robot-nose {
}

.robot-nose:before {
}

.robot-nose:after {
}

.robot-teeth {
}

.robot-tooth {
}

.robot-hair-style {
}
